AUTH_LOGIN=
AUTH_PASSWORD=

LOGIN_MANAGER=
PASSWORD_MANAGER=

LOGIN_UNDERWRITER=
PASSWORD_UNDERWRITER=

LOGIN_CLAIMER=
PASSWORD_CLAIMER=

LOGIN_AGENT=
PASSWORD_AGENT=

GATEWAY_URL=
BASE_URL=
MADP_URL=

# GATEWAY_URL="test"
# BASE_URL="test"

# GATEWAY_URL="test"
# BASE_URL="test"

WORKERS_COUNT=
