.DS_Store
node_modules
dist
*.log*
.nuxt
.nitro
.cache
.output
dist
.env
.idea
.vscode
main/utils/data/JSONLoader.js
resources/data/testClients.json
resources/data/testCars.json
.env.test
dist
artifacts/log.txt
artifacts/playwright-report/
artifacts/suite-result.json
test-results/
.codex
.split-config.yml
pw-browsers/
